.corpo{
    background-color: rgb(141, 248, 212);
}

.título{
    color: black;
    font-size: 40px;
}

.paragráfo{
    color: rgb(73, 92, 85);
    font-size: 25px;
}

.subtítulo{
    color: black;
    font-size: 30px;
}