.corpo{
    background-color: rgb(36, 0, 218);
}

.título{
    color: black;
    font-size: 45px;
}

.parágrafo{
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.subtítulo{
    color: black;
    font-size: 30px;
}