.corpo{
    background-image:linear-gradient( rgba(130, 209, 255, 0.801), rgba(19, 102, 255, 0.945));
}

.título{
    color: black;
    font-size: 45px;
}

.parágrafo{
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.subtítulo{
    color: black;
    font-size: 30px;
}