
@media  screen and (min-width: 400px) {
    .corpo{

    background-image: linear-gradient(rgba(130, 209, 255, 0.801),rgba(19, 102, 255, 0.945));
}

.título{
    color: rgb(46, 128, 175);
    font-size: 50px;

}

.link{
    color: rgb(8, 103, 167);
    font-size: 20px;
}
    
}