
@media  screen and (min-width: 400px) {
    .corpo{
    
    background-image: linear-gradient(#82d1ffcc,#0f31709a);
}

.título{
    color: #00658d;
    font-size: 60px;
    

}
.imagem{
    padding: 0 10px;
    width: 0 10px;
}

.link{
    color: #05446e;
    font-size: 20px;
}
    
}