
@media  screen and (min-width: 400px) {
    .corpo{

    background-color: rgb(127, 255, 191);
}

.título{
    color: rgb(81, 105, 97);
    font-size: 50px;
}

.link{
    color: aqua;
    font-size: 10px;
}
    
}